@page
@* Angiver at denne fil er en Razor Page. *@
@model ErrorModel
@* Specificerer modeltypen for denne side. *@
@{
    ViewData["Title"] = "Fejl"; @* Sætter sidens titel. *@
}

<h1 class="text-danger">Fejl.</h1>
<h2 class="text-danger">Der opstod en fejl under behandlingen af din anmodning.</h2>

@if (Model.ShowRequestId) @* Viser Request ID, hvis det er relevant (typisk i udviklingsmiljø). *@
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Udviklingstilstand</h3>
<p>
    Skift til <strong>Udviklings</strong>-miljøet viser detaljeret information om den opståede fejl.
</p>
<p>
    <strong>Udviklingsmiljøet bør ikke være aktiveret for deployede applikationer.</strong>
    Det kan resultere i visning af følsom information fra exceptions til slutbrugere.
    For lokal debugging, aktiver <strong>Udviklings</strong>-miljøet ved at sætte miljøvariablen <strong>ASPNETCORE_ENVIRONMENT</strong> til <strong>Development</strong>
    og genstarte appen.
</p>
