@page "/admin/animals/create"
@model RazorPagesApp.Pages.Admin.Animals.CreateModel

@{   ViewData["Title"] = "Opret nyt dyr";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Dyreinformation</h4>
<hr />
<div class="row">
    <div class="col-md-8"> @* Justeret bredde for potentielt bredere formularer *@
        <form method="post">
            <partial name="_AnimalFormFields" for="Animal" view-data="ViewData" />
            
            <div class="form-group mt-3">
                <input type="submit" value="Opret Dyr" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-outline-secondary">Tilbage til listen</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 