@page "/admin/animals/edit/{id:int}"
@model RazorPagesApp.Pages.Admin.Animals.EditModel

@{    ViewData["Title"] = "Rediger dyr";
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]: @Model.Animal.Name</h1>

<h4>Dyreinformation</h4>
<hr />
<div class="row">
    <div class="col-md-8"> @* Justeret bredde *@
        <form method="post">
            <input type="hidden" asp-for="Animal.Id" />
            @* Følgende skjulte felter bevares, da de ikke er i _AnimalFormFields og skal sendes med for at bevare data ved opdatering. IntakeDate er nu i formen. IsDeleted og DeletedAt håndteres af servicen/repository.  *@
            <input type="hidden" asp-for="Animal.IsAdopted" />
            <input type="hidden" asp-for="Animal.AdoptionDate" />
            <input type="hidden" asp-for="Animal.AdoptedByCustomerId" />
            
            <partial name="_AnimalFormFields" for="Animal" view-data="ViewData" />

            <div class="form-group mt-3">
                <input type="submit" value="Gem Ændringer" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-outline-secondary">Tilbage til listen</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 